h1 {
   padding: 0 15.3%;
   font-size: 25px;
   font-weight: 600;
}

.zakazv {
   padding: 0 15.3%;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 25px;
}

.art {
   box-shadow: rgb(6 5 50 / 15%) 0px 4px 22px -6px;
   display: flex;
   align-items: center;
   padding: 16px;
   border-radius: 12px;
   cursor: pointer;
   transition: box-shadow 0.3s ease;
}

.art:hover {
   box-shadow: rgba(6, 5, 50, 0.063) 0px 4px 22px -6px;
}

.imgp {
   width: 80px;
}

.a1 {
   margin-left: 10px;
}

.a2 {
   font-size: 14px;
   font-weight: 500;
   margin: 0;
   padding: 0;
}

.a3 {
   font-size: 15px;
   font-weight: 700;
   margin: 0;
   padding: 0;
}
